* {
    text-decoration: none;
    list-style: none;
}

.Ambony {
    width: 100%;
    height: 200px;
    aspect-ratio: 16 / 9;
    /* garde un format vidéo paysage */
    background: url("sary/Sary_01.JPG") center/cover no-repeat;
}

.Ambany {
    display: flex;
}

.Ambany .Ambany_gauche {
    width: 200px;
    height: 350px;
    background-color: rgb(43, 205, 25);
}

.Ambany .Ambany_droite {
    width: 950px;
    height: 350px;
    background-color: rgb(36, 21, 238);
}

.Ambany .Ambany_gauche ul {
    flex-direction: column;
    margin-left: -30px;
}

@media screen and (max-width: 865px) {
    .Ambany .Ambany_gauche ul li {
        font-size: 10px;
    }
}
@media screen and (max-width: 700px) {
    .Ambany .Ambany_gauche ul li {
        font-size: 8px;
    }
}