*{
    margin: 0;
    padding: O;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
    width: 100%;      /* prend toute la largeur */
    margin: 0;         /* supprime les marges automatiques */
    padding: 0;        /* supprime tout padding par défaut */
    box-sizing: border-box;
}


h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

input,
textarea {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    font-size: 14px;
}

button {
    padding: 6px 10px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

/* table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
} */

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background: #f2f2f2;
}

.btn-danger {
    background: red;
}

.btn-warning {
    background: orange;
}
td.actions {
    display: flex;           /* Aligne les enfants horizontalement */
    gap: 10px;               /* Espace entre les boutons */
    justify-content: center; /* Centre les boutons dans la cellule */
}

td.actions button {
    padding: 5px 10px;
    cursor: pointer;
}
table th {
    white-space: nowrap;      /* Empêche le retour à la ligne */
    text-align: center;       /* Centre le texte si tu veux */
    padding: 5px 10px;        /* Ajuste l’espacement */
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(138, 138, 147);
    margin-top: 10px;
}
.nav-links ul{
    display: flex;
}
.nav-links ul li{
    margin: 5px;
}

/* Table responsive */
table {
    width: 100%;               /* prend toute la largeur disponible */
    border-collapse: collapse;  /* bordures collées */
    table-layout: auto;         /* ajuste automatiquement les colonnes */
}

/* Cellules du tableau */
table th, table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
    word-wrap: break-word;      /* coupe le texte long */
}

/* Actions bouton sur la même ligne */
td.actions {
    display: flex;
    gap: 5px;
}
.formulaire_de_saisie{
    width: 400px;
    margin-left: 30px;
}


/* bare de recherche  */
.search-bar input {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin-left: -30px; /* ✅ réduit l'espace à gauche */
}
.formulaire_utilisateur {
    background-color: rgba(202, 192, 192, 0.756);
    height: 150px;
    width: 350px;
    margin-left: 430px;
    margin-top: 150px;
    border-radius: 20px;
}

.table_formulaire_utilisateur {
    margin-left: 40px;
    padding-top: 40px;
}

@media screen and (max-width: 600px) {
      .formulaire_utilisateur {
        margin-left: 50px;
    }
}

/* Optionnel : réduire taille de la police sur petits écrans */
@media (max-width: 700px) {
    table th, table td {
        font-size: 6px;
        padding: 4px;
    }
    button{
          font-size: 6px;
    }
    H1{
          font-size: 15px;
    }
}
